Repository projectbeskar/virtrigaud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-helm-crds, verify-helm-crds, go-mod-tidy, generate-code

.pre-commit-config.yaml:

# Pre-commit hooks for VirtRigaud
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    args: ['--unsafe']  # Allow custom YAML tags used in Kubernetes
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: mixed-line-ending

- repo: https://github.com/golangci/golangci-lint
  rev: v1.59.1
  hooks:
  - id: golangci-lint
    args: ['--exclude-dirs=internal/providers/libvirt,cmd/provider-libvirt']

- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-rc.1
  hooks:
  - id: go-fmt
    args: [-w]
  - id: go-vet-mod

- repo: https://github.com/adrienverge/yamllint
  rev: v1.35.1
  hooks:
  - id: yamllint
    args: [-c=.yamllint]

# VirtRigaud-specific hooks
- repo: local
  hooks:
  - id: sync-helm-crds
    name: Sync Helm Chart CRDs
    entry: make sync-helm-crds
    language: system
    files: ^(api/.*\.go|config/crd/.*\.yaml)$
    pass_filenames: false
    
  - id: verify-helm-crds
    name: Verify Helm CRDs are in sync
    entry: make verify-helm-crds
    language: system
    files: ^(charts/virtrigaud/crds/.*\.yaml)$
    pass_filenames: false
    
  - id: go-mod-tidy
    name: Go Mod Tidy
    entry: go mod tidy
    language: system
    files: ^go\.(mod|sum)$
    pass_filenames: false

  - id: generate-code
    name: Generate Go Code
    entry: make generate
    language: system
    files: ^(api/.*\.go)$
    pass_filenames: false

Add new docs workflow that builds and publishes docs to GitHub Pages
  .github/workflows/docs.yaml
  CHANGELOG.md
  Makefile
  docs/crd-ref-docs-config.yaml
Due: none

add countConnectedVMs
  internal/controller/provider_controller.go
Due: none

move publish to OCI artifact
  .github/workflows/release.yml
  README.md
  charts/virtrigaud/README.md
  docs/src/catalog.md
  docs/src/getting-started/quickstart.md
  docs/src/install-helm-only.md
Due: none

fix docs-packages publishing conflict
  .github/workflows/docs.yaml
  .github/workflows/release.yml
  README.md
  charts/virtrigaud/README.md
  docs/book.toml
  docs/src/catalog.md
  docs/src/getting-started/quickstart.md
  docs/src/install-helm-only.md
Due: none

update Changelog
  CHANGELOG.md
Due: none

solve linter and CRDs out of sync
  charts/virtrigaud/crds/infra.virtrigaud.io_providers.yaml
  config/crd/bases/infra.virtrigaud.io_providers.yaml
  config/rbac/role.yaml
  internal/controller/vmadoption_controller.go
Due: sync-helm-crds, verify-helm-crds

add #nosec G115 - as the int convesion is unrealistic
  internal/controller/vmadoption_controller.go
Due: none

Added CreateFunc handler
  internal/controller/vmadoption_controller.go
Due: none

fix proto lint error for ListVMs RPC
  api/infra.virtrigaud.io/v1beta1/conversion_test.go
  cmd/virtrigaud-loadgen/main.go
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_test.go
  internal/controller/vmadoption_controller.go
  internal/controller/vmmigration_controller.go
  internal/providers/libvirt/server.go
  internal/providers/mock/provider.go
  internal/providers/proxmox/server.go
  internal/providers/vsphere/server.go
  internal/providers/vsphere/vmdk_parser.go
  internal/transport/grpc/client.go
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
  proto/rpc/provider/v1/provider_grpc.pb.go
  sdk/provider/client/client.go
Due: sync-helm-crds, generate-code

add adoption controller to manager
  cmd/manager/main.go
Due: none

add retry for tools download
  build/Dockerfile.kubectl
Due: none

Updated VMSpec to include DiskPath and DiskFormat for imported disks
  internal/providers/vsphere/server.go
Due: none

make sure vms are not recreated when adopted
  internal/controller/vmadoption_controller.go
  internal/providers/vsphere/server.go
Due: none

Auto-Fix Existing Adopted VMs
  internal/controller/vmadoption_controller.go
  internal/providers/vsphere/server.go
Due: none

update for release
  CHANGELOG.md
Due: none

Add suppoprt to VirtualMachine CRD to accept metaData, which in vSphere is sent using guestinfo
  CHANGELOG.md
  Makefile
  api/infra.virtrigaud.io/v1beta1/virtualmachine_types.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  charts/virtrigaud/crds/infra.virtrigaud.io_virtualmachines.yaml
  charts/virtrigaud/crds/infra.virtrigaud.io_vmsets.yaml
  cmd/main.go
  config/crd/bases/infra.virtrigaud.io_virtualmachines.yaml
  config/crd/bases/infra.virtrigaud.io_vmsets.yaml
  docs/CLOUD_INIT.md
  docs/README.md
  docs/src/CRDs.md
  docs/src/SUMMARY.md
  docs/src/examples/cloud-init-with-metadata.yaml
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_metadata_test.go
  internal/controller/vmadoption_controller.go
  internal/providers/contracts/metadata_test.go
  internal/providers/contracts/provider.go
  internal/providers/contracts/types.go
  internal/providers/vsphere/cloudinit_test.go
  internal/providers/vsphere/server.go
  internal/transport/grpc/client.go
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
Due: sync-helm-crds, verify-helm-crds, generate-code

Add support for two new lifecycle events: preStart and postStop
  api/infra.virtrigaud.io/v1beta1/virtualmachine_types.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infra.virtrigaud.io_virtualmachines.yaml
  config/crd/bases/infra.virtrigaud.io_vmsets.yaml
  config/rbac/role.yaml
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_lifecycle_test.go
Due: sync-helm-crds, generate-code

Update the gRPC golang dep
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Due: go-mod-tidy

feat: expand environment enum with qa and uat values
  api/infra.virtrigaud.io/v1beta1/vmclone_types.go
  api/infra.virtrigaud.io/v1beta1/vmmigration_types.go
  api/infra.virtrigaud.io/v1beta1/vmsnapshot_types.go
  config/crd/bases/infra.virtrigaud.io_vmclones.yaml
  config/crd/bases/infra.virtrigaud.io_vmmigrations.yaml
  config/crd/bases/infra.virtrigaud.io_vmsnapshots.yaml
Due: sync-helm-crds, generate-code

feat: expand environment enum with qa and uat values (#61)
  api/infra.virtrigaud.io/v1beta1/vmclone_types.go
  api/infra.virtrigaud.io/v1beta1/vmmigration_types.go
  api/infra.virtrigaud.io/v1beta1/vmsnapshot_types.go
  config/crd/bases/infra.virtrigaud.io_vmclones.yaml
  config/crd/bases/infra.virtrigaud.io_vmmigrations.yaml
  config/crd/bases/infra.virtrigaud.io_vmsnapshots.yaml
Due: sync-helm-crds, generate-code

feat: static IP configuration via VMware guestinfo injection
  Makefile
  api/infra.virtrigaud.io/v1beta1/conversion_test.go
  api/infra.virtrigaud.io/v1beta1/virtualmachine_types.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  api/testutil/fixtures/simple_fixtures.go
  config/crd/bases/infra.virtrigaud.io_virtualmachines.yaml
  config/crd/bases/infra.virtrigaud.io_vmclones.yaml
  config/crd/bases/infra.virtrigaud.io_vmmigrations.yaml
  config/crd/bases/infra.virtrigaud.io_vmsets.yaml
  internal/providers/contracts/types.go
Due: sync-helm-crds, generate-code

feat: add PCI slot and adapter type control to VMNetworkAttachment
  Makefile
  api/infra.virtrigaud.io/v1beta1/vmnetworkattachment_types.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infra.virtrigaud.io_vmnetworkattachments.yaml
Due: sync-helm-crds, generate-code

Implement SecretRef for cloud-init UserData/MetaData and merge with inline content
  internal/controller/cloudinit_test.go
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_metadata_test.go
Due: none

feat: VM live reconfiguration and reconcile loop optimization (#2)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/runtime-chart.yml
  api/infra.virtrigaud.io/v1beta1/conversion_test.go
  api/infra.virtrigaud.io/v1beta1/vmimage_types.go
  config/crd/bases/infra.virtrigaud.io_vmimages.yaml
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_coverage_test.go
  internal/controller/virtualmachine_controller_test.go
Due: sync-helm-crds, generate-code

feat: VM live reconfiguration and reconcile loop optimization (#2)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/runtime-chart.yml
  api/infra.virtrigaud.io/v1beta1/conversion_test.go
  api/infra.virtrigaud.io/v1beta1/vmimage_types.go
  config/crd/bases/infra.virtrigaud.io_vmimages.yaml
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_coverage_test.go
  internal/controller/virtualmachine_controller_test.go
  internal/providers/vsphere/server.go
Due: sync-helm-crds, generate-code

feat: Implement SecretRef for cloud-init UserData/MetaData and merge with inline content (#1)
  .github/dependabot.yml
  internal/controller/cloudinit.go
  internal/controller/cloudinit_test.go
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_coverage_test.go
  internal/controller/virtualmachine_metadata_test.go
Due: none

fix(obs): register custom metrics on controller-runtime registry
  internal/obs/metrics/metrics.go
  internal/obs/metrics/metrics_test.go
Due: none

fix(obs): redact value in key=value patterns, not key
  internal/obs/logging/logging.go
  internal/obs/logging/logging_test.go
Due: none

fix(resilience): non-retryable CircuitOpen error + correct half-open accounting
  internal/providers/contracts/errors.go
  internal/resilience/circuitbreaker.go
  internal/resilience/circuitbreaker_test.go
Due: none

chore(test): gate e2e suite behind //go:build e2e
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
Due: none

chore(test): use proto submodule in proxmox-grpc-test
  test/proxmox-grpc-test/go.mod
  test/proxmox-grpc-test/go.sum
  test/proxmox-grpc-test/main.go
Due: none

fix(docker): upgrade packages in provider-vsphere runtime image
  cmd/provider-vsphere/Dockerfile
Due: none

fix(obs/metrics): expose virtrigaud_* metrics on /metrics endpoint
  CHANGELOG.md
  internal/obs/metrics/metrics.go
  internal/obs/metrics/metrics_test.go
  test/integration/observability_test.go
Due: none

fix(obs/metrics): expose virtrigaud_* metrics on /metrics endpoint (#83)
  CHANGELOG.md
  internal/obs/metrics/metrics.go
  internal/obs/metrics/metrics_test.go
  test/integration/observability_test.go
Due: none
