Repository projectbeskar/virtrigaud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-helm-crds, verify-helm-crds, go-mod-tidy, generate-code

sync-helm-crds:
  name: Sync Helm Chart CRDs
  entry: make sync-helm-crds
  language: system
  pass_filenames: false

verify-helm-crds:
  name: Verify Helm CRDs are in sync
  entry: make verify-helm-crds
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

generate-code:
  name: Generate Go Code
  entry: make generate
  language: system
  pass_filenames: false

feat(libvirt): shadow-compare reads + go-libvirt Describe under the D5 gate (ADR-0008 PR 4b)
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  cmd/provider-libvirt/main.go
  docs/libvirt-shadow-reads.md
  go.mod
  go.sum
  internal/obs/metrics/libvirt_shadow.go
  internal/obs/metrics/libvirt_shadow_test.go
  internal/providers/libvirt/conn.go
  internal/providers/libvirt/golibvirt.go
  internal/providers/libvirt/libvirtxml_domain.go
  internal/providers/libvirt/libvirtxml_domain_test.go
  internal/providers/libvirt/native_flag.go
  internal/providers/libvirt/native_flag_test.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/server_seam_test.go
  internal/providers/libvirt/shadow.go
  internal/providers/libvirt/shadow_integration_test.go
  internal/providers/libvirt/shadow_test.go
  sdk/provider/server/server.go
Due: go-mod-tidy

feat(libvirt): shadow-compare reads + go-libvirt Describe under the D5 gate (ADR-0008 PR 4b) (#308)
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  cmd/provider-libvirt/main.go
  docs/libvirt-shadow-reads.md
  go.mod
  go.sum
  internal/obs/metrics/libvirt_shadow.go
  internal/obs/metrics/libvirt_shadow_test.go
  internal/providers/libvirt/conn.go
  internal/providers/libvirt/golibvirt.go
  internal/providers/libvirt/libvirtxml_domain.go
  internal/providers/libvirt/libvirtxml_domain_test.go
  internal/providers/libvirt/native_flag.go
  internal/providers/libvirt/native_flag_test.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/server_seam_test.go
  internal/providers/libvirt/shadow.go
  internal/providers/libvirt/shadow_integration_test.go
  internal/providers/libvirt/shadow_test.go
  sdk/provider/server/server.go
Due: go-mod-tidy

fix(ci): retry go-module fetches + repair libvirt Dockerfile runtime stage (unblock image builds)
  .github/workflows/ci.yml
  CHANGELOG.md
  cmd/provider-libvirt/Dockerfile
  hack/retry.sh
Due: none

fix(ci): retry go-module fetches + repair libvirt Dockerfile runtime stage (unblock image builds) (#309)
  .github/workflows/ci.yml
  CHANGELOG.md
  cmd/provider-libvirt/Dockerfile
  hack/retry.sh
Due: none

feat(libvirt): shadow-compare the list family (ListVMs) under the D5 gate (ADR-0008 PR 4c)
  CHANGELOG.md
  docs/libvirt-shadow-reads.md
  internal/providers/libvirt/native_flag.go
  internal/providers/libvirt/native_flag_test.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/shadow.go
  internal/providers/libvirt/shadow_integration_test.go
  internal/providers/libvirt/shadow_test.go
Due: none

feat(libvirt): shadow-compare the list family (ListVMs) under the D5 gate (ADR-0008 PR 4c) (#310)
  CHANGELOG.md
  docs/libvirt-shadow-reads.md
  internal/providers/libvirt/native_flag.go
  internal/providers/libvirt/native_flag_test.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/shadow.go
  internal/providers/libvirt/shadow_integration_test.go
  internal/providers/libvirt/shadow_test.go
Due: none

ci: build provider images on PRs, not just push (Dockerfile gate)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

ci: build provider images on PRs, not just push (Dockerfile gate) (#311)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

feat(api): Host and HostPool CRDs (ADR-0007 P1)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/host_types.go
  api/infra.virtrigaud.io/v1beta1/host_types_test.go
  api/infra.virtrigaud.io/v1beta1/hostpool_types.go
  api/infra.virtrigaud.io/v1beta1/hostpool_types_test.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infra.virtrigaud.io_hostpools.yaml
  config/crd/bases/infra.virtrigaud.io_hosts.yaml
  config/crd/kustomization.yaml
  docs/README.md
  docs/clustered-provider-inventory.md
  examples/README.md
  examples/hostpool-clustered.yaml
Due: sync-helm-crds, generate-code

feat(api): Host and HostPool CRDs (ADR-0007 P1) (#312)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/host_types.go
  api/infra.virtrigaud.io/v1beta1/host_types_test.go
  api/infra.virtrigaud.io/v1beta1/hostpool_types.go
  api/infra.virtrigaud.io/v1beta1/hostpool_types_test.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infra.virtrigaud.io_hostpools.yaml
  config/crd/bases/infra.virtrigaud.io_hosts.yaml
  config/crd/kustomization.yaml
  docs/README.md
  docs/clustered-provider-inventory.md
  examples/README.md
  examples/hostpool-clustered.yaml
Due: sync-helm-crds, generate-code

docs(adr): commit + accept ADR-0007 (clustered provider) and ADR-0008 (pure-Go libvirt)
  CHANGELOG.md
  docs/adr/0007-0008-blocking-decisions.md
  docs/adr/0007-clustered-orchestrator-provider.md
  docs/adr/0008-libvirt-pure-go-driver-and-ssh-transport.md
Due: none

docs(adr): commit + accept ADR-0007 (clustered provider) and ADR-0008 (pure-Go libvirt) (#313)
  CHANGELOG.md
  docs/adr/0007-0008-blocking-decisions.md
  docs/adr/0007-clustered-orchestrator-provider.md
  docs/adr/0008-libvirt-pure-go-driver-and-ssh-transport.md
Due: none

feat(proto): ListHosts/GetHostInfo RPCs + host inventory contract (ADR-0007 P1)
  CHANGELOG.md
  docs/clustered-provider-inventory.md
  internal/controller/virtualmachine_controller_test.go
  internal/providers/contracts/capabilities.go
  internal/providers/contracts/hosts.go
  internal/providers/contracts/provider.go
  internal/providers/libvirt/hosts.go
  internal/providers/libvirt/hosts_test.go
  internal/providers/mock/hosts.go
  internal/providers/mock/hosts_test.go
  internal/providers/proxmox/hosts.go
  internal/providers/proxmox/hosts_test.go
  internal/providers/vsphere/hosts.go
  internal/providers/vsphere/hosts_test.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_hosts_test.go
  internal/transport/grpc/client_metrics_test.go
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
  proto/rpc/provider/v1/provider_grpc.pb.go
  sdk/provider/capabilities/capabilities.go
  sdk/provider/capabilities/capabilities_test.go
  sdk/provider/client/client.go
Due: none

feat(proto): ListHosts/GetHostInfo RPCs + host inventory contract (ADR-0007 P1) (#314)
  CHANGELOG.md
  docs/clustered-provider-inventory.md
  internal/controller/virtualmachine_controller_test.go
  internal/providers/contracts/capabilities.go
  internal/providers/contracts/hosts.go
  internal/providers/contracts/provider.go
  internal/providers/libvirt/hosts.go
  internal/providers/libvirt/hosts_test.go
  internal/providers/mock/hosts.go
  internal/providers/mock/hosts_test.go
  internal/providers/proxmox/hosts.go
  internal/providers/proxmox/hosts_test.go
  internal/providers/vsphere/hosts.go
  internal/providers/vsphere/hosts_test.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_hosts_test.go
  internal/transport/grpc/client_metrics_test.go
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
  proto/rpc/provider/v1/provider_grpc.pb.go
  sdk/provider/capabilities/capabilities.go
  sdk/provider/capabilities/capabilities_test.go
  sdk/provider/client/client.go
Due: none

feat(controller): render clustered host-inventory Secret + topology discriminator (ADR-0007 P1)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/provider_types.go
  charts/virtrigaud/templates/manager-rbac.yaml
  config/crd/bases/infra.virtrigaud.io_providers.yaml
  config/rbac/role.yaml
  docs/clustered-provider-inventory.md
  examples/README.md
  examples/provider-libvirt-clustered.yaml
  internal/clustered/hostsecret/hostsecret.go
  internal/clustered/hostsecret/hostsecret_test.go
  internal/controller/provider_controller.go
  internal/controller/provider_hostinventory.go
  internal/controller/provider_hostinventory_test.go
Due: sync-helm-crds, generate-code

feat(controller): render clustered host-inventory Secret + topology discriminator (ADR-0007 P1) (#315)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/provider_types.go
  charts/virtrigaud/templates/manager-rbac.yaml
  config/crd/bases/infra.virtrigaud.io_providers.yaml
  config/rbac/role.yaml
  docs/clustered-provider-inventory.md
  examples/README.md
  examples/provider-libvirt-clustered.yaml
  internal/clustered/hostsecret/hostsecret.go
  internal/clustered/hostsecret/hostsecret_test.go
  internal/controller/provider_controller.go
  internal/controller/provider_hostinventory.go
  internal/controller/provider_hostinventory_test.go
Due: sync-helm-crds, generate-code

feat(controller): inline per-host credentials into the clustered host-inventory Secret (ADR-0007 P1)
  CHANGELOG.md
  cmd/manager/main.go
  docs/clustered-provider-inventory.md
  internal/clustered/hostsecret/hostsecret.go
  internal/clustered/hostsecret/hostsecret_test.go
  internal/controller/provider_controller.go
  internal/controller/provider_hostinventory.go
  internal/controller/provider_hostinventory_test.go
Due: none

feat(controller): inline per-host credentials into the clustered host-inventory Secret (ADR-0007 P1) (#316)
  CHANGELOG.md
  cmd/manager/main.go
  docs/clustered-provider-inventory.md
  internal/clustered/hostsecret/hostsecret.go
  internal/clustered/hostsecret/hostsecret_test.go
  internal/controller/provider_controller.go
  internal/controller/provider_hostinventory.go
  internal/controller/provider_hostinventory_test.go
Due: none

feat(libvirt): consume mounted host-inventory + N-host connection registry with hot-reload (ADR-0007 P1)
  CHANGELOG.md
  cmd/provider-libvirt/main.go
  docs/clustered-provider-inventory.md
  internal/providers/libvirt/cluster_dialer.go
  internal/providers/libvirt/cluster_dialer_test.go
  internal/providers/libvirt/conn.go
  internal/providers/libvirt/hostconn/cluster.go
  internal/providers/libvirt/hostconn/cluster_test.go
  internal/providers/libvirt/hostconn/watch.go
  internal/providers/libvirt/hostconn/watch_test.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/sshhostkey.go
Due: none

feat(libvirt): consume mounted host-inventory + N-host connection registry with hot-reload (ADR-0007 P1) (#317)
  CHANGELOG.md
  cmd/provider-libvirt/main.go
  docs/clustered-provider-inventory.md
  internal/providers/libvirt/cluster_dialer.go
  internal/providers/libvirt/cluster_dialer_test.go
  internal/providers/libvirt/conn.go
  internal/providers/libvirt/hostconn/cluster.go
  internal/providers/libvirt/hostconn/cluster_test.go
  internal/providers/libvirt/hostconn/watch.go
  internal/providers/libvirt/hostconn/watch_test.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/sshhostkey.go
Due: none

feat(libvirt): implement ListHosts/GetHostInfo against the N-host registry (ADR-0007 P1)
  CHANGELOG.md
  docs/clustered-provider-inventory.md
  internal/providers/libvirt/conn.go
  internal/providers/libvirt/hostconn/cluster.go
  internal/providers/libvirt/hostconn/cluster_test.go
  internal/providers/libvirt/hostinfo.go
  internal/providers/libvirt/hostinfo_test.go
  internal/providers/libvirt/hosts.go
  internal/providers/libvirt/hosts_test.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/server.go
Due: none

feat(libvirt): implement ListHosts/GetHostInfo against the N-host registry (ADR-0007 P1) (#318)
  CHANGELOG.md
  docs/clustered-provider-inventory.md
  internal/providers/libvirt/conn.go
  internal/providers/libvirt/hostconn/cluster.go
  internal/providers/libvirt/hostconn/cluster_test.go
  internal/providers/libvirt/hostinfo.go
  internal/providers/libvirt/hostinfo_test.go
  internal/providers/libvirt/hosts.go
  internal/providers/libvirt/hosts_test.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/server.go
Due: none

feat(controller): Host inventory-sync controller (GetHostInfo → Host.status) (ADR-0007 P1)
  CHANGELOG.md
  charts/virtrigaud/templates/manager-rbac.yaml
  cmd/manager/main.go
  config/rbac/role.yaml
  docs/clustered-provider-inventory.md
  internal/controller/host_controller.go
  internal/controller/host_controller_test.go
  internal/controller/virtualmachine_controller_test.go
  internal/providers/contracts/errors.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_hosts_test.go
Due: none

feat(controller): Host inventory-sync controller (GetHostInfo → Host.status) (ADR-0007 P1) (#319)
  CHANGELOG.md
  charts/virtrigaud/templates/manager-rbac.yaml
  cmd/manager/main.go
  config/rbac/role.yaml
  docs/clustered-provider-inventory.md
  internal/controller/host_controller.go
  internal/controller/host_controller_test.go
  internal/controller/virtualmachine_controller_test.go
  internal/providers/contracts/errors.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_hosts_test.go
Due: none

fix(libvirt): clustered-aware Validate + parse inlined SSH key in the clustered path (ADR-0007 P1)
  CHANGELOG.md
  docs/clustered-provider-inventory.md
  internal/providers/libvirt/cluster_credential_roundtrip_test.go
  internal/providers/libvirt/cluster_dialer.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_validate_test.go
Due: none

fix(libvirt): clustered-aware Validate + parse inlined SSH key in the clustered path (ADR-0007 P1) (#320)
  CHANGELOG.md
  docs/clustered-provider-inventory.md
  internal/providers/libvirt/cluster_credential_roundtrip_test.go
  internal/providers/libvirt/cluster_dialer.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_validate_test.go
Due: none

feat(placement): pure filter+score scheduler consuming VMPlacementPolicy (ADR-0007 P1)
  CHANGELOG.md
  docs/clustered-provider-inventory.md
  internal/scheduler/affinity.go
  internal/scheduler/affinity_test.go
  internal/scheduler/errors.go
  internal/scheduler/evalcontext.go
  internal/scheduler/filter.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/score.go
  internal/scheduler/score_test.go
Due: none

feat(placement): pure filter+score scheduler consuming VMPlacementPolicy (ADR-0007 P1) (#321)
  CHANGELOG.md
  docs/clustered-provider-inventory.md
  internal/scheduler/affinity.go
  internal/scheduler/affinity_test.go
  internal/scheduler/errors.go
  internal/scheduler/evalcontext.go
  internal/scheduler/filter.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/score.go
  internal/scheduler/score_test.go
Due: none

feat(api,libvirt): placement binding contract (status.placement + target_host_id) + create-on-host (ADR-0007 P1)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/virtualmachine_placement_test.go
  api/infra.virtrigaud.io/v1beta1/virtualmachine_types.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infra.virtrigaud.io_virtualmachines.yaml
  docs/clustered-provider-inventory.md
  internal/providers/contracts/provider.go
  internal/providers/libvirt/clone.go
  internal/providers/libvirt/create_cluster_test.go
  internal/providers/libvirt/hostconn/cluster.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/server.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_create_targethost_test.go
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
Due: sync-helm-crds, generate-code

feat(api,libvirt): placement binding contract (status.placement + target_host_id) + create-on-host (ADR-0007 P1) (#322)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/virtualmachine_placement_test.go
  api/infra.virtrigaud.io/v1beta1/virtualmachine_types.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infra.virtrigaud.io_virtualmachines.yaml
  docs/clustered-provider-inventory.md
  internal/providers/contracts/provider.go
  internal/providers/libvirt/clone.go
  internal/providers/libvirt/create_cluster_test.go
  internal/providers/libvirt/hostconn/cluster.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/server.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_create_targethost_test.go
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
Due: sync-helm-crds, generate-code

feat(controller): schedule + bind clustered VMs at create (ADR-0007 P1 D3/D4) (binding PR 2)
  CHANGELOG.md
  charts/virtrigaud/templates/manager-rbac.yaml
  config/rbac/role.yaml
  docs/clustered-provider-inventory.md
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_placement_test.go
  internal/k8s/conditions.go
Due: none

feat(controller): schedule + bind clustered VMs at create (ADR-0007 P1 D3/D4) (binding PR 2) (#323)
  CHANGELOG.md
  charts/virtrigaud/templates/manager-rbac.yaml
  config/rbac/role.yaml
  docs/clustered-provider-inventory.md
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_placement_test.go
  internal/k8s/conditions.go
Due: none

feat(webhook): reject topology=cluster on non-clustered provider types (ADR-0007 P1 D2)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/provider_webhook.go
  api/infra.virtrigaud.io/v1beta1/provider_webhook_test.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  charts/virtrigaud/templates/webhooks.yaml
  charts/virtrigaud/values.yaml
  cmd/manager/main.go
  config/webhook/manifests.yaml
  docs/clustered-provider-inventory.md
Due: sync-helm-crds, generate-code

feat(webhook): reject topology=cluster on non-clustered provider types (ADR-0007 P1 D2) (#324)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/provider_webhook.go
  api/infra.virtrigaud.io/v1beta1/provider_webhook_test.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  charts/virtrigaud/templates/webhooks.yaml
  charts/virtrigaud/values.yaml
  cmd/manager/main.go
  config/webhook/manifests.yaml
  docs/clustered-provider-inventory.md
Due: sync-helm-crds, generate-code

fix(chart): make the Provider validating webhook deployable via Helm (webhooks.enabled=true)
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  charts/virtrigaud/templates/_helpers.tpl
  charts/virtrigaud/templates/manager-deployment.yaml
  charts/virtrigaud/templates/webhooks.yaml
  charts/virtrigaud/values.yaml
  docs/clustered-provider-inventory.md
  hack/verify-webhook-render.sh
Due: none

fix(chart): make the Provider validating webhook deployable via Helm (webhooks.enabled=true) (#325)
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  charts/virtrigaud/templates/_helpers.tpl
  charts/virtrigaud/templates/manager-deployment.yaml
  charts/virtrigaud/templates/webhooks.yaml
  charts/virtrigaud/values.yaml
  docs/clustered-provider-inventory.md
  hack/verify-webhook-render.sh
Due: none

fix(ci,chart): guard Helm chart CRDs against drift (missing Host/HostPool, pruned topology)
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  charts/virtrigaud/README.md
Due: none

fix(ci,chart): guard Helm chart CRDs against drift (missing Host/HostPool, pruned topology) (#326)
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  charts/virtrigaud/README.md
Due: none

feat(chart,manager): explicit TLS 1.2 floor + opt-in NetworkPolicy templates
  CHANGELOG.md
  charts/virtrigaud/README.md
  charts/virtrigaud/templates/_helpers.tpl
  charts/virtrigaud/templates/networkpolicy.yaml
  charts/virtrigaud/values.yaml
  cmd/manager/main.go
  cmd/manager/main_test.go
Due: none

feat(chart,manager): explicit TLS 1.2 floor + opt-in NetworkPolicy templates (#327)
  CHANGELOG.md
  charts/virtrigaud/README.md
  charts/virtrigaud/templates/_helpers.tpl
  charts/virtrigaud/templates/networkpolicy.yaml
  charts/virtrigaud/values.yaml
  cmd/manager/main.go
  cmd/manager/main_test.go
Due: none

Path conditions:
  sync-helm-crds: any of: ^(api/.*\.go|config/crd/.*\.yaml)$
  verify-helm-crds: any of: ^(charts/virtrigaud/crds/.*\.yaml)$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  generate-code: any of: ^(api/.*\.go)$
