Repository projectbeskar/virtrigaud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-helm-crds, verify-helm-crds, go-mod-tidy, generate-code

.pre-commit-config.yaml:

# Pre-commit hooks for VirtRigaud
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    args: ['--unsafe']  # Allow custom YAML tags used in Kubernetes
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: mixed-line-ending

- repo: https://github.com/golangci/golangci-lint
  rev: v1.59.1
  hooks:
  - id: golangci-lint
    args: ['--exclude-dirs=internal/providers/libvirt,cmd/provider-libvirt']

- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-rc.1
  hooks:
  - id: go-fmt
    args: [-w]
  - id: go-vet-mod

- repo: https://github.com/adrienverge/yamllint
  rev: v1.35.1
  hooks:
  - id: yamllint
    args: [-c=.yamllint]

# VirtRigaud-specific hooks
- repo: local
  hooks:
  - id: sync-helm-crds
    name: Sync Helm Chart CRDs
    entry: make sync-helm-crds
    language: system
    files: ^(api/.*\.go|config/crd/.*\.yaml)$
    pass_filenames: false
    
  - id: verify-helm-crds
    name: Verify Helm CRDs are in sync
    entry: make verify-helm-crds
    language: system
    files: ^(charts/virtrigaud/crds/.*\.yaml)$
    pass_filenames: false
    
  - id: go-mod-tidy
    name: Go Mod Tidy
    entry: go mod tidy
    language: system
    files: ^go\.(mod|sum)$
    pass_filenames: false

  - id: generate-code
    name: Generate Go Code
    entry: make generate
    language: system
    files: ^(api/.*\.go)$
    pass_filenames: false

docs(adr): ADR-0006 — storage-agnostic, any-direction cross-hypervisor migration (#237)
  docs/adr/0006-storage-backend-agnostic-cross-hypervisor-migration.md
Due: none

feat(migration): ADR-0006 Slice 0 — storage-backend-agnostic surface (additive) (#238)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/provider_types.go
  api/infra.virtrigaud.io/v1beta1/vmmigration_types.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infra.virtrigaud.io_providers.yaml
  config/crd/bases/infra.virtrigaud.io_vmmigrations.yaml
  examples/vmmigration-nfs.yaml
  examples/vmmigration-s3.yaml
  internal/controller/provider_controller.go
  internal/controller/provider_controller_capabilities_test.go
  internal/controller/vmmigration_controller.go
  internal/controller/vmmigration_storage_backend_test.go
  internal/providers/contracts/capabilities.go
  internal/providers/contracts/types.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/server_test.go
  internal/providers/mock/provider.go
  internal/providers/proxmox/capabilities.go
  internal/providers/proxmox/server.go
  internal/providers/vsphere/server.go
  internal/storage/migration/backend.go
  internal/storage/migration/backend_test.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_capabilities_test.go
  internal/transport/grpc/client_metrics_test.go
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
  sdk/provider/capabilities/capabilities.go
  sdk/provider/capabilities/capabilities_test.go
Due: sync-helm-crds, generate-code

fix(provider): keep tls.enabled=false durable (defaulted-bool omitempty footgun) (#235)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/provider_tls_marshal_test.go
  api/infra.virtrigaud.io/v1beta1/provider_types.go
  config/crd/bases/infra.virtrigaud.io_providers.yaml
Due: sync-helm-crds, generate-code

fix(crd): include VMMigration CRD in kustomize resources
  config/crd/kustomization.yaml
Due: sync-helm-crds

test(crd): verify every CRD base is referenced in kustomization
  .github/workflows/ci.yml
  hack/verify-crd-kustomization.sh
Due: none

feat(migration): ADR-0006 Slice 1 — vSphere->libvirt over S3 (relay)
  CHANGELOG.md
  examples/vmmigration-s3.yaml
  go.mod
  go.sum
  internal/controller/vmmigration_controller.go
  internal/controller/vmmigration_s3_test.go
  internal/controller/vmmigration_storage_backend_test.go
  internal/obs/logging/logging.go
  internal/obs/logging/logging_test.go
  internal/providers/libvirt/s3import.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/server_test.go
  internal/providers/vsphere/capabilities_test.go
  internal/providers/vsphere/server.go
  internal/storage/migration/backend.go
  internal/storage/migration/options.go
  internal/storage/migration/options_test.go
  internal/storage/migration/storageconfig.go
  internal/storage/pvc.go
  internal/storage/s3.go
  internal/storage/s3_test.go
  internal/storage/storage.go
Due: go-mod-tidy

fix(migration): make vSphere->libvirt S3 relay work end-to-end (ADR-0006 Slice 1)
  CHANGELOG.md
  internal/controller/vmmigration_controller.go
  internal/controller/vmmigration_export_race_test.go
  internal/providers/libvirt/s3import.go
  internal/providers/libvirt/s3import_test.go
  internal/providers/vsphere/export_disk_test.go
  internal/providers/vsphere/server.go
Due: none

feat(migration): ADR-0006 Slice 1 — vSphere→libvirt cross-hypervisor migration over S3 (relay) (#242)
  CHANGELOG.md
  examples/vmmigration-s3.yaml
  go.mod
  go.sum
  internal/controller/vmmigration_controller.go
  internal/controller/vmmigration_export_race_test.go
  internal/controller/vmmigration_s3_test.go
  internal/controller/vmmigration_storage_backend_test.go
  internal/obs/logging/logging.go
  internal/obs/logging/logging_test.go
  internal/providers/libvirt/s3import.go
  internal/providers/libvirt/s3import_test.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/server_test.go
  internal/providers/vsphere/capabilities_test.go
  internal/providers/vsphere/export_disk_test.go
  internal/providers/vsphere/server.go
  internal/storage/migration/backend.go
  internal/storage/migration/options.go
  internal/storage/migration/options_test.go
  internal/storage/migration/storageconfig.go
  internal/storage/pvc.go
  internal/storage/s3.go
  internal/storage/s3_test.go
  internal/storage/storage.go
Due: go-mod-tidy

fix(crd): include VMMigration CRD in kustomize resources (#239)
  .github/workflows/ci.yml
  config/crd/kustomization.yaml
  hack/verify-crd-kustomization.sh
Due: sync-helm-crds

fix(migration): honor CleanupPolicy + reliably remove source snapshot (await task, clean on Failed)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/vmmigration_types.go
  internal/controller/vmmigration_controller.go
  internal/controller/vmmigration_snapshot_cleanup_test.go
Due: sync-helm-crds, generate-code

fix(migration): honor CleanupPolicy + reliably remove source snapshot (await task, clean on Failed) (#243)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/vmmigration_types.go
  internal/controller/vmmigration_controller.go
  internal/controller/vmmigration_snapshot_cleanup_test.go
Due: sync-helm-crds, generate-code

Fix provider to allow static IPs via guestinfo.network
  README.md
  internal/providers/vsphere/network_test.go
  internal/providers/vsphere/server.go
  internal/transport/grpc/client.go
Due: none

Fix provider to allow static IPs via guestinfo.network (#245)
  README.md
  internal/providers/vsphere/network_test.go
  internal/providers/vsphere/server.go
  internal/transport/grpc/client.go
Due: none

Set upload-release-assets: false on the Generate SBOM step.
  .github/workflows/release.yml
Due: none

Set upload-release-assets: false on the Generate SBOM step. (#246)
  .github/workflows/release.yml
Due: none

fix(libvirt): surface real S3 error on export stream failure, not masking cat exit 255
  CHANGELOG.md
  internal/providers/libvirt/s3export.go
Due: none

fix(vsphere): set config.files.vmPathName + valid disk device spec on imported-disk CreateVM
  internal/providers/vsphere/server.go
Due: none

fix(vsphere): set a default GuestId on imported-disk CreateVM (power-on)
  internal/providers/vsphere/server.go
Due: none

feat(migration): ADR-0006 Slice 2 — libvirt→S3 export & vSphere←S3 import provider data-paths
  CHANGELOG.md
  internal/diskutil/qemu_img.go
  internal/diskutil/qemu_img_test.go
  internal/providers/libvirt/s3export.go
  internal/providers/libvirt/s3export_test.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/server_test.go
  internal/providers/vsphere/capabilities_test.go
  internal/providers/vsphere/s3import.go
  internal/providers/vsphere/server.go
Due: none

fix(libvirt): resolve GetDiskInfo primary disk via domblklist, not the volume-name guess
  internal/providers/libvirt/provider_virsh.go
Due: none

fix(vsphere): make NFC S3 import idempotent against a leftover import folder (Bug O)
  CHANGELOG.md
  internal/providers/vsphere/s3import.go
Due: none

fix(migration): make createSnapshot:false settable (defaulted-bool footgun)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/vmmigration_types.go
  config/crd/bases/infra.virtrigaud.io_vmmigrations.yaml
Due: sync-helm-crds, generate-code

fix(libvirt): read source disk with `qemu-img convert -U` on export
  internal/providers/libvirt/s3export.go
Due: none

fix(vsphere): import S3 disk via NFC lease (streamOptimized), not CopyVirtualDisk (Bug J)
  internal/diskutil/qemu_img.go
  internal/providers/vsphere/s3import.go
  internal/providers/vsphere/s3import_test.go
Due: none

feat(migration): ADR-0006 Slice 2 — reverse libvirt→vSphere controller wiring
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/vmmigration_types.go
  config/crd/bases/infra.virtrigaud.io_vmmigrations.yaml
  internal/controller/virtualmachine_controller.go
  internal/controller/vmmigration_controller.go
  internal/controller/vmmigration_direction_test.go
Due: sync-helm-crds, generate-code

fix(vsphere): drive NFC import lease by hand, rewrite device URL to vCenter (Bug M)
  internal/providers/vsphere/s3import.go
Due: none

fix(storage): bound S3 multipart part size for unknown-size streams (OOM)
  internal/storage/s3.go
Due: none

chore(build): remove dead, misleading build/Dockerfile.provider-{vsphere,libvirt} (Bug N)
  CHANGELOG.md
  build/Dockerfile.provider-libvirt
  build/Dockerfile.provider-vsphere
Due: none

docs(migration): record ADR-0006 Slice 2 validated; rewrite reverse example + README
  CHANGELOG.md
  docs/adr/0006-storage-backend-agnostic-cross-hypervisor-migration.md
  examples/migration/README.md
  examples/migration/libvirt-to-vsphere.yaml
Due: none

fix(libvirt): remove dead parseStorageSize orphaned by the Bug G GetDiskInfo rewrite
  CHANGELOG.md
  internal/providers/libvirt/provider_virsh.go
Due: none

ADR-0006 Slice 2: libvirt → vSphere migration over S3 (Refs #236) (#247)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/vmmigration_types.go
  build/Dockerfile.provider-libvirt
  build/Dockerfile.provider-vsphere
  config/crd/bases/infra.virtrigaud.io_vmmigrations.yaml
  docs/adr/0006-storage-backend-agnostic-cross-hypervisor-migration.md
  examples/migration/README.md
  examples/migration/libvirt-to-vsphere.yaml
  internal/controller/virtualmachine_controller.go
  internal/controller/vmmigration_controller.go
  internal/controller/vmmigration_direction_test.go
  internal/diskutil/qemu_img.go
  internal/diskutil/qemu_img_test.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/s3export.go
  internal/providers/libvirt/s3export_test.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/server_test.go
  internal/providers/vsphere/capabilities_test.go
  internal/providers/vsphere/s3import.go
  internal/providers/vsphere/s3import_test.go
  internal/providers/vsphere/server.go
  internal/storage/s3.go
Due: sync-helm-crds, generate-code

fix(libvirt): support SSH private-key auth end-to-end
  CHANGELOG.md
  internal/providers/libvirt/cloudinit.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/s3import.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/sshhostkey.go
  internal/providers/libvirt/sshkeyauth_test.go
  internal/providers/libvirt/storage.go
  internal/providers/libvirt/virsh.go
Due: none

fix(libvirt): support SSH private-key auth end-to-end (#249)
  CHANGELOG.md
  internal/providers/libvirt/cloudinit.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/s3import.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/sshhostkey.go
  internal/providers/libvirt/sshkeyauth_test.go
  internal/providers/libvirt/storage.go
  internal/providers/libvirt/virsh.go
Due: none

fix(security): back libvirt provider SSH key dir with a memory-backed volume
  CHANGELOG.md
  internal/controller/provider_controller.go
Due: none

fix(security): back libvirt provider SSH key dir with a memory-backed volume (#250)
  CHANGELOG.md
  internal/controller/provider_controller.go
Due: none

feat(chart): render the observability templates (ServiceMonitor, PrometheusRule, Grafana dashboard)
  CHANGELOG.md
  charts/virtrigaud/dashboards/virtrigaud-dashboard.json
  charts/virtrigaud/templates/grafana-dashboard-configmap.yaml
  charts/virtrigaud/templates/prometheusrule.yaml
  charts/virtrigaud/templates/servicemonitor.yaml
Due: none

feat(chart): render the observability templates (ServiceMonitor, PrometheusRule, Grafana dashboard) (#251)
  CHANGELOG.md
  charts/virtrigaud/dashboards/virtrigaud-dashboard.json
  charts/virtrigaud/templates/grafana-dashboard-configmap.yaml
  charts/virtrigaud/templates/prometheusrule.yaml
  charts/virtrigaud/templates/servicemonitor.yaml
Due: none

test(controller): regression coverage for migration-PVC mount lifecycle (#230)
  CHANGELOG.md
  internal/controller/provider_controller_migration_test.go
Due: none

test(controller): regression coverage for migration-PVC mount lifecycle (#230) (#252)
  CHANGELOG.md
  internal/controller/provider_controller_migration_test.go
Due: none

fix(libvirt): drop hard-coded emulator, let libvirt resolve it
  CHANGELOG.md
  internal/providers/libvirt/provider_virsh.go
Due: none
