Repository projectbeskar/virtrigaud: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-helm-crds, verify-helm-crds, go-mod-tidy, generate-code

.pre-commit-config.yaml:

# Pre-commit hooks for VirtRigaud
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    args: ['--unsafe']  # Allow custom YAML tags used in Kubernetes
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: mixed-line-ending

- repo: https://github.com/golangci/golangci-lint
  rev: v1.59.1
  hooks:
  - id: golangci-lint
    args: ['--exclude-dirs=internal/providers/libvirt,cmd/provider-libvirt']

- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-rc.1
  hooks:
  - id: go-fmt
    args: [-w]
  - id: go-vet-mod

- repo: https://github.com/adrienverge/yamllint
  rev: v1.35.1
  hooks:
  - id: yamllint
    args: [-c=.yamllint]

# VirtRigaud-specific hooks
- repo: local
  hooks:
  - id: sync-helm-crds
    name: Sync Helm Chart CRDs
    entry: make sync-helm-crds
    language: system
    files: ^(api/.*\.go|config/crd/.*\.yaml)$
    pass_filenames: false
    
  - id: verify-helm-crds
    name: Verify Helm CRDs are in sync
    entry: make verify-helm-crds
    language: system
    files: ^(charts/virtrigaud/crds/.*\.yaml)$
    pass_filenames: false
    
  - id: go-mod-tidy
    name: Go Mod Tidy
    entry: go mod tidy
    language: system
    files: ^go\.(mod|sum)$
    pass_filenames: false

  - id: generate-code
    name: Generate Go Code
    entry: make generate
    language: system
    files: ^(api/.*\.go)$
    pass_filenames: false

fix(security,libvirt): remove hardcoded SSH key and sudo grant from default cloud-init
  CHANGELOG.md
  internal/providers/libvirt/default_cloudinit_test.go
  internal/providers/libvirt/provider_virsh.go
Due: none

fix(security,libvirt): remove hardcoded SSH key and sudo grant from default cloud-init (#328)
  CHANGELOG.md
  internal/providers/libvirt/default_cloudinit_test.go
  internal/providers/libvirt/provider_virsh.go
Due: none

fix(security,libvirt): escape user-derived values in generated domain XML (#260)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/vmnetworkattachment_types.go
  config/crd/bases/infra.virtrigaud.io_vmnetworkattachments.yaml
  internal/providers/libvirt/clone.go
  internal/providers/libvirt/clone_test.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/provider_virsh_xml_test.go
  internal/providers/libvirt/xmlsafety.go
  internal/providers/libvirt/xmlsafety_test.go
Due: sync-helm-crds, generate-code

fix(security,libvirt): escape user-derived values in generated domain XML (#260) (#329)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/vmnetworkattachment_types.go
  config/crd/bases/infra.virtrigaud.io_vmnetworkattachments.yaml
  internal/providers/libvirt/clone.go
  internal/providers/libvirt/clone_test.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/provider_virsh_xml_test.go
  internal/providers/libvirt/xmlsafety.go
  internal/providers/libvirt/xmlsafety_test.go
Due: sync-helm-crds, generate-code

fix(security,libvirt): shell-quote every command sent to the host over SSH
  internal/providers/libvirt/cloudinit.go
  internal/providers/libvirt/conn.go
  internal/providers/libvirt/guest_agent.go
  internal/providers/libvirt/hostconn/hostconn.go
  internal/providers/libvirt/nfs.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/remotefile.go
  internal/providers/libvirt/s3export.go
  internal/providers/libvirt/s3export_test.go
  internal/providers/libvirt/s3import.go
  internal/providers/libvirt/s3import_test.go
  internal/providers/libvirt/shellquote.go
  internal/providers/libvirt/shellquote_test.go
  internal/providers/libvirt/sshclient_test.go
  internal/providers/libvirt/storage.go
  internal/providers/libvirt/virsh.go
Due: none

fix(security,libvirt): bound guest-agent enrichment revived by SSH quoting
  CHANGELOG.md
  internal/providers/libvirt/guest_agent.go
  internal/providers/libvirt/guest_agent_bounds_test.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/shellquote_test.go
Due: none

fix(security,libvirt): shell-quote every command sent to the hypervisor over SSH (#331)
  CHANGELOG.md
  internal/providers/libvirt/cloudinit.go
  internal/providers/libvirt/conn.go
  internal/providers/libvirt/guest_agent.go
  internal/providers/libvirt/guest_agent_bounds_test.go
  internal/providers/libvirt/hostconn/hostconn.go
  internal/providers/libvirt/nfs.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/remotefile.go
  internal/providers/libvirt/s3export.go
  internal/providers/libvirt/s3export_test.go
  internal/providers/libvirt/s3import.go
  internal/providers/libvirt/s3import_test.go
  internal/providers/libvirt/shellquote.go
  internal/providers/libvirt/shellquote_test.go
  internal/providers/libvirt/sshclient_test.go
  internal/providers/libvirt/storage.go
  internal/providers/libvirt/virsh.go
Due: none

fix(security,clustered): same-namespace Host/HostPool model and endpoint validation
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/host_types.go
  api/infra.virtrigaud.io/v1beta1/host_types_test.go
  api/infra.virtrigaud.io/v1beta1/hostpool_types.go
  api/infra.virtrigaud.io/v1beta1/hostpool_types_test.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infra.virtrigaud.io_hostpools.yaml
  config/crd/bases/infra.virtrigaud.io_hosts.yaml
  docs/adr/0007-clustered-orchestrator-provider.md
  docs/clustered-provider-inventory.md
  examples/hostpool-clustered.yaml
  examples/provider-libvirt-clustered.yaml
  internal/clustered/hostsecret/hostsecret.go
  internal/clustered/hostsecret/validate_test.go
  internal/controller/host_controller.go
  internal/controller/host_controller_test.go
  internal/controller/provider_hostinventory.go
  internal/controller/provider_hostinventory_security_test.go
  internal/controller/provider_hostinventory_test.go
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_placement_test.go
  internal/providers/libvirt/cluster_dialer.go
  internal/providers/libvirt/cluster_dialer_test.go
  internal/providers/libvirt/hostconn/cluster.go
  internal/providers/libvirt/hostconn/cluster_test.go
Due: sync-helm-crds, generate-code

fix(controller): mark CredentialRefNamespaceRejected reason as a gosec G101 false positive
  internal/controller/provider_hostinventory.go
Due: none

fix(security,clustered): same-namespace Host/HostPool model and endpoint validation (#330)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/host_types.go
  api/infra.virtrigaud.io/v1beta1/host_types_test.go
  api/infra.virtrigaud.io/v1beta1/hostpool_types.go
  api/infra.virtrigaud.io/v1beta1/hostpool_types_test.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infra.virtrigaud.io_hostpools.yaml
  config/crd/bases/infra.virtrigaud.io_hosts.yaml
  docs/adr/0007-clustered-orchestrator-provider.md
  docs/clustered-provider-inventory.md
  examples/hostpool-clustered.yaml
  examples/provider-libvirt-clustered.yaml
  internal/clustered/hostsecret/hostsecret.go
  internal/clustered/hostsecret/validate_test.go
  internal/controller/host_controller.go
  internal/controller/host_controller_test.go
  internal/controller/provider_hostinventory.go
  internal/controller/provider_hostinventory_security_test.go
  internal/controller/provider_hostinventory_test.go
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_placement_test.go
  internal/providers/libvirt/cluster_dialer.go
  internal/providers/libvirt/cluster_dialer_test.go
  internal/providers/libvirt/hostconn/cluster.go
  internal/providers/libvirt/hostconn/cluster_test.go
Due: sync-helm-crds, generate-code

fix(security,libvirt): never bind Create to a same-named domain the VM does not own
  CHANGELOG.md
  docs/README.md
  docs/clustered-provider-inventory.md
  docs/libvirt-domain-ownership.md
  examples/vm-adoption-example.yaml
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_create_rejected_test.go
  internal/k8s/conditions.go
  internal/providers/contracts/errors.go
  internal/providers/contracts/ownership_test.go
  internal/providers/contracts/provider.go
  internal/providers/libvirt/clone.go
  internal/providers/libvirt/domain_identity.go
  internal/providers/libvirt/domain_identity_test.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/server_create_owner_test.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_create_owner_test.go
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
Due: none

fix(controller): back off 2m on Conflict, 30s on InvalidSpec after a rejected create
  CHANGELOG.md
  docs/libvirt-domain-ownership.md
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_create_rejected_test.go
Due: none

fix(libvirt): correct concurrent-create claim; refuse repeated owner attributes and second root
  CHANGELOG.md
  internal/providers/libvirt/domain_identity.go
  internal/providers/libvirt/domain_identity_test.go
  internal/providers/libvirt/provider_virsh.go
Due: none

fix(security,libvirt): never bind Create to a same-named domain the VM does not own (#333)
  CHANGELOG.md
  docs/README.md
  docs/clustered-provider-inventory.md
  docs/libvirt-domain-ownership.md
  examples/vm-adoption-example.yaml
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_create_rejected_test.go
  internal/k8s/conditions.go
  internal/providers/contracts/errors.go
  internal/providers/contracts/ownership_test.go
  internal/providers/contracts/provider.go
  internal/providers/libvirt/clone.go
  internal/providers/libvirt/domain_identity.go
  internal/providers/libvirt/domain_identity_test.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/server_create_owner_test.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_create_owner_test.go
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
Due: none

fix(security,libvirt): harden image-path confinement per security review
  CHANGELOG.md
  docs/image-preparation.md
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_image_path_test.go
  internal/providers/libvirt/image.go
  internal/providers/libvirt/imagepath.go
  internal/providers/libvirt/imagepath_test.go
  internal/providers/libvirt/nfs.go
  internal/providers/libvirt/s3import.go
  internal/providers/libvirt/storage.go
Due: none

fix(security,libvirt): confine libvirt image paths to allowed image directories
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/vmimage_types.go
  api/infra.virtrigaud.io/v1beta1/vmimage_types_test.go
  config/crd/bases/infra.virtrigaud.io_vmimages.yaml
  docs/image-preparation.md
  examples/libvirt-advanced-example.yaml
  examples/libvirt-complete-example.yaml
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_image_path_test.go
  internal/controller/virtualmachine_image_prepare.go
  internal/controller/vmmigration_controller.go
  internal/providers/contracts/errors.go
  internal/providers/contracts/errors_test.go
  internal/providers/contracts/types.go
  internal/providers/libvirt/clone.go
  internal/providers/libvirt/disk_expand.go
  internal/providers/libvirt/image.go
  internal/providers/libvirt/imagepath.go
  internal/providers/libvirt/imagepath_test.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/storage.go
Due: sync-helm-crds, generate-code

fix(controller): unify the invalid-spec recheck interval after rebasing onto #333
  CHANGELOG.md
  docs/image-preparation.md
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_image_path_test.go
Due: none

fix(security,libvirt): confine libvirt image paths; always copy base images (#334)
  CHANGELOG.md
  api/infra.virtrigaud.io/v1beta1/vmimage_types.go
  api/infra.virtrigaud.io/v1beta1/vmimage_types_test.go
  config/crd/bases/infra.virtrigaud.io_vmimages.yaml
  docs/image-preparation.md
  examples/libvirt-advanced-example.yaml
  examples/libvirt-complete-example.yaml
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_image_path_test.go
  internal/controller/virtualmachine_image_prepare.go
  internal/controller/vmmigration_controller.go
  internal/providers/contracts/errors.go
  internal/providers/contracts/errors_test.go
  internal/providers/contracts/types.go
  internal/providers/libvirt/clone.go
  internal/providers/libvirt/disk_expand.go
  internal/providers/libvirt/image.go
  internal/providers/libvirt/imagepath.go
  internal/providers/libvirt/imagepath_test.go
  internal/providers/libvirt/nfs.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/s3import.go
  internal/providers/libvirt/storage.go
Due: sync-helm-crds, generate-code

docs(adr): apply architect review to ADR-0007 Addendum A
  CHANGELOG.md
  docs/adr/0007-clustered-orchestrator-provider.md
Due: none

docs(adr): ADR-0007 Addendum A — post-create lifecycle routing contract
  CHANGELOG.md
  docs/adr/0007-0008-blocking-decisions.md
  docs/adr/0007-clustered-orchestrator-provider.md
  docs/clustered-provider-inventory.md
Due: none

docs(adr): mark Addendum A prerequisite (#333) as met
  docs/adr/0007-clustered-orchestrator-provider.md
Due: none

docs(adr): ADR-0007 Addendum A — post-create lifecycle routing contract (#332)
  CHANGELOG.md
  docs/adr/0007-0008-blocking-decisions.md
  docs/adr/0007-clustered-orchestrator-provider.md
  docs/clustered-provider-inventory.md
Due: none

fix(security,vsphere): never bind Create to a VM the VM does not own; clone only real templates
  CHANGELOG.md
  README.md
  api/infra.virtrigaud.io/v1beta1/vmimage_types.go
  config/crd/bases/infra.virtrigaud.io_vmimages.yaml
  docs/README.md
  docs/libvirt-domain-ownership.md
  docs/vm-ownership.md
  examples/provider-vsphere.yaml
  examples/security/externalsecrets/vsphere-credentials.yaml
  examples/vm-adoption-example.yaml
  examples/vmimage-ubuntu.yaml
  internal/controller/virtualmachine_controller.go
  internal/providers/contracts/provider.go
  internal/providers/vsphere/image.go
  internal/providers/vsphere/image_test.go
  internal/providers/vsphere/ova_import.go
  internal/providers/vsphere/ova_import_test.go
  internal/providers/vsphere/server.go
  internal/providers/vsphere/template_source.go
  internal/providers/vsphere/template_source_test.go
  internal/providers/vsphere/vm_ownership.go
  internal/providers/vsphere/vm_ownership_test.go
  internal/transport/grpc/client.go
Due: sync-helm-crds, generate-code

fix(security,vsphere): never bind Create to a VM the VM does not own; clone only real templates (#335)
  CHANGELOG.md
  README.md
  api/infra.virtrigaud.io/v1beta1/vmimage_types.go
  config/crd/bases/infra.virtrigaud.io_vmimages.yaml
  docs/README.md
  docs/libvirt-domain-ownership.md
  docs/vm-ownership.md
  examples/provider-vsphere.yaml
  examples/security/externalsecrets/vsphere-credentials.yaml
  examples/vm-adoption-example.yaml
  examples/vmimage-ubuntu.yaml
  internal/controller/virtualmachine_controller.go
  internal/providers/contracts/provider.go
  internal/providers/vsphere/image.go
  internal/providers/vsphere/image_test.go
  internal/providers/vsphere/ova_import.go
  internal/providers/vsphere/ova_import_test.go
  internal/providers/vsphere/server.go
  internal/providers/vsphere/template_source.go
  internal/providers/vsphere/template_source_test.go
  internal/providers/vsphere/vm_ownership.go
  internal/providers/vsphere/vm_ownership_test.go
  internal/transport/grpc/client.go
Due: sync-helm-crds, generate-code

fix(chart): NetworkPolicies are never enabled by helm upgrade --reuse-values
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  charts/virtrigaud/README.md
  charts/virtrigaud/templates/_helpers.tpl
  charts/virtrigaud/templates/networkpolicy.yaml
  charts/virtrigaud/values.yaml
  hack/verify-networkpolicy-render.sh
Due: none

fix(chart): NetworkPolicies are never enabled by helm upgrade --reuse-values (#336)
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  charts/virtrigaud/README.md
  charts/virtrigaud/templates/_helpers.tpl
  charts/virtrigaud/templates/networkpolicy.yaml
  charts/virtrigaud/values.yaml
  hack/verify-networkpolicy-render.sh
Due: none

feat(proto): per-VM routing fields for clustered providers (ADR-0007 Addendum A slice 1)
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
Due: none

feat(api): VirtualMachine status.placement.pendingHost (ADR-0007 Addendum A, A2)
  api/infra.virtrigaud.io/v1beta1/virtualmachine_types.go
  config/crd/bases/infra.virtrigaud.io_virtualmachines.yaml
Due: sync-helm-crds, generate-code

feat(libvirt): route Describe/Delete to the bound host; owner-checked clustered delete; always-failing placeholder (ADR-0007 Addendum A slice 1)
  internal/providers/libvirt/golibvirt.go
  internal/providers/libvirt/provider.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/remotefile.go
  internal/providers/libvirt/routing.go
  internal/providers/libvirt/routing_test.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/server_seam_test.go
  internal/providers/libvirt/server_test.go
  internal/providers/libvirt/shadow.go
  internal/providers/libvirt/shadow_test.go
  internal/providers/libvirt/sshclient.go
  internal/providers/libvirt/virsh.go
Due: none

docs: ADR-0007 Addendum A slice 1 — post-create routing, pendingHost, Placed, Host in-use finalizer
  CHANGELOG.md
  docs/clustered-provider-inventory.md
  examples/hostpool-clustered.yaml
Due: none

fix(libvirt): keep the single-host shadow read on its registry connection
  internal/providers/libvirt/routing_test.go
  internal/providers/libvirt/shadow.go
Due: none

fix(security,api): make Provider.spec.topology immutable
  api/infra.virtrigaud.io/v1beta1/provider_types.go
  api/infra.virtrigaud.io/v1beta1/provider_webhook.go
  api/infra.virtrigaud.io/v1beta1/provider_webhook_test.go
  config/crd/bases/infra.virtrigaud.io_providers.yaml
  internal/controller/provider_topology_immutable_test.go
Due: sync-helm-crds, generate-code

fix(security): owner-checked routed Describe, host-scoped unavailability, fail-closed topology mismatch (ADR-0007 Addendum A slice 1 review)
  charts/virtrigaud/templates/manager-rbac.yaml
  config/rbac/role.yaml
  go.mod
  internal/controller/host_controller.go
  internal/controller/virtualmachine_clustered.go
  internal/controller/virtualmachine_clustered_hardening_test.go
  internal/controller/virtualmachine_clustered_test.go
  internal/controller/virtualmachine_controller.go
  internal/controller/virtualmachine_controller_create_rejected_test.go
  internal/controller/virtualmachine_controller_delete_test.go
  internal/controller/virtualmachine_controller_test.go
  internal/controller/vmclone_controller.go
  internal/controller/vmclone_routing_test.go
  internal/controller/vmmigration_controller.go
  internal/controller/vmref.go
  internal/controller/vmsnapshot_controller.go
  internal/k8s/conditions.go
  internal/providers/contracts/errors.go
  internal/providers/contracts/provider.go
  internal/providers/contracts/vmref.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/routing.go
  internal/providers/libvirt/routing_test.go
  internal/providers/libvirt/server.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_host_unavailable_test.go
  internal/transport/grpc/client_routing_test.go
  internal/transport/grpc/client_vm_operations_test.go
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
Due: go-mod-tidy

docs: slice 1 review — owner-checked Describe, host-scoped unavailability, immutable topology
  CHANGELOG.md
  docs/clustered-provider-inventory.md
Due: none

feat(proto): owner on PowerRequest and ReconfigureRequest (ADR-0007 Addendum A slice 2)
  proto/provider/v1/provider.proto
  proto/rpc/provider/v1/provider.pb.go
Due: none

feat(transport): send the owner on routed Power and Reconfigure (ADR-0007 Addendum A slice 2)
  internal/providers/contracts/provider.go
  internal/providers/contracts/vmref.go
  internal/transport/grpc/client.go
  internal/transport/grpc/client_routing_test.go
Due: none

feat(libvirt): route Power and Reconfigure to the bound host, owner-checked (ADR-0007 Addendum A slice 2)
  internal/providers/libvirt/disk_expand.go
  internal/providers/libvirt/power_reconfigure_routing_test.go
  internal/providers/libvirt/power_reconfigure_singlehost_test.go
  internal/providers/libvirt/provider_virsh.go
  internal/providers/libvirt/routing.go
  internal/providers/libvirt/routing_test.go
  internal/providers/libvirt/server.go
  internal/providers/libvirt/testdata/single_host_power_reconfigure.golden.json
Due: none

feat(api,scheduler): status.placement.excludedHosts and a scheduler exclusion input (ADR-0007 Addendum A, A2 amendment)
  api/infra.virtrigaud.io/v1beta1/virtualmachine_types.go
  api/infra.virtrigaud.io/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infra.virtrigaud.io_virtualmachines.yaml
  internal/scheduler/errors.go
  internal/scheduler/excluded_test.go
  internal/scheduler/filter.go
  internal/scheduler/scheduler.go
Due: sync-helm-crds, generate-code
